# XML example and exercise
****
+ study examples of accessing nodes in XML tree structure  
+ work on exercise to be completed and submitted
****
+ reference: https://docs.python.org/2.7/library/xml.etree.elementtree.html
+ data source: http://www.dbis.informatik.uni-goettingen.de/Mondial
****

In [76]:
from xml.etree import ElementTree as ET
import pandas as pd
import numpy as np

****
## XML exercise

Using data in 'data/mondial_database.xml', the examples above, and refering to https://docs.python.org/2.7/library/xml.etree.elementtree.html, find

1. 10 countries with the lowest infant mortality rates
2. 10 cities with the largest population
3. 10 ethnic groups with the largest overall populations (sum of best/latest estimates over all countries)
4. name and country of a) longest river, b) largest lake and c) airport at highest elevation

# Question 1 : Countries with Lowest Infant Mortality Rate

In [77]:
document = ET.parse( './data/mondial_database.xml' ) # parse data

In [3]:
dir(document)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_root',
 '_setroot',
 'find',
 'findall',
 'findtext',
 'getiterator',
 'getroot',
 'iter',
 'iterfind',
 'parse',
 'write',
 'write_c14n']

In [4]:
countries = [] # create an empty tuple to store data in

# Store Data in empty tuple above
for element in document.iterfind('country'):
    countryname = element.find('name').text
    try: 
        mortality = element.find('infant_mortality').text
    except AttributeError: 
        mortality = np.nan
        
    raw = (countryname, mortality)
    countries.append(raw)

In [5]:
countries # Look at data

[('Albania', '13.19'),
 ('Greece', '4.78'),
 ('Macedonia', '7.9'),
 ('Serbia', '6.16'),
 ('Montenegro', nan),
 ('Kosovo', nan),
 ('Andorra', '3.69'),
 ('France', '3.31'),
 ('Spain', '3.33'),
 ('Austria', '4.16'),
 ('Czech Republic', '2.63'),
 ('Germany', '3.46'),
 ('Hungary', '5.09'),
 ('Italy', '3.31'),
 ('Liechtenstein', '4.33'),
 ('Slovakia', '5.35'),
 ('Slovenia', '4.04'),
 ('Switzerland', '3.73'),
 ('Belarus', '3.64'),
 ('Latvia', '7.91'),
 ('Lithuania', '6'),
 ('Poland', '6.19'),
 ('Ukraine', '8.1'),
 ('Russia', '7.08'),
 ('Belgium', '4.18'),
 ('Luxembourg', '4.28'),
 ('Netherlands', '3.66'),
 ('Bosnia and Herzegovina', '5.84'),
 ('Croatia', '5.87'),
 ('Bulgaria', '15.08'),
 ('Romania', '10.16'),
 ('Turkey', '21.43'),
 ('Denmark', '4.1'),
 ('Estonia', '6.7'),
 ('Faroe Islands', '5.71'),
 ('Finland', '3.36'),
 ('Norway', '2.48'),
 ('Sweden', '2.6'),
 ('Monaco', '1.81'),
 ('Gibraltar', '6.29'),
 ('Guernsey', '3.47'),
 ('Holy See', nan),
 ('Ceuta', nan),
 ('Melilla', nan),
 ('Iceland', '3.15'),
 ('Ireland', '3.74'),
 ('San Marino', '4.52'),
 ('Jersey', '3.86'),
 ('Malta', '3.59'),
 ('Isle of Man', '4.17'),
 ('Moldova', '12.93'),
 ('Portugal', '4.48'),
 ('Svalbard', nan),
 ('United Kingdom', '4.44'),
 ('Afghanistan', '117.23'),
 ('China', '14.79'),
 ('Iran', '39'),
 ('Pakistan', '57.48'),
 ('Tajikistan', '35.03'),
 ('Turkmenistan', '38.13'),
 ('Uzbekistan', '19.84'),
 ('Armenia', '13.97'),
 ('Georgia', '16.68'),
 ('Azerbaijan', '26.67'),
 ('Bahrain', '9.68'),
 ('Bangladesh', '45.67'),
 ('Myanmar', '44.91'),
 ('India', '43.19'),
 ('Bhutan', '37.89'),
 ('Brunei', '10.48'),
 ('Malaysia', '13.69'),
 ('Laos', '54.53'),
 ('Thailand', '9.86'),
 ('Cambodia', '51.36'),
 ('Vietnam', '18.99'),
 ('Kazakhstan', '21.61'),
 ('North Korea', '24.5'),
 ('Kyrgyzstan', '28.71'),
 ('Hong Kong', '2.73'),
 ('Macao', '3.13'),
 ('Mongolia', '23.15'),
 ('Nepal', '40.43'),
 ('Christmas Island', nan),
 ('Cocos Islands', nan),
 ('Cyprus', '8.54'),
 ('Gaza Strip', '30.6'),
 ('Israel', '3.98'),
 ('Egypt', '22.41'),
 ('Indonesia', '25.16'),
 ('Timor-Leste', '38.79'),
 ('Papua New Guinea', '39.67'),
 ('Iraq', '37.53'),
 ('Jordan', '15.73'),
 ('Kuwait', '7.51'),
 ('Saudi Arabia', '14.58'),
 ('Syria', '15.79'),
 ('Lebanon', '7.98'),
 ('West Bank', '28.6'),
 ('Japan', '2.13'),
 ('South Korea', '3.93'),
 ('Maldives', '24.59'),
 ('Oman', '14'),
 ('United Arab Emirates', '10.92'),
 ('Yemen', '50.41'),
 ('Philippines', '17.64'),
 ('Qatar', '6.42'),
 ('Singapore', '2.53'),
 ('Sri Lanka', '9.02'),
 ('Taiwan', '4.49'),
 ('Anguilla', '3.4'),
 ('Antigua and Barbuda', '13.29'),
 ('Aruba', '11.74'),
 ('Bahamas', '12.5'),
 ('Barbados', '10.93'),
 ('Belize', '20.31'),
 ('Guatemala', '23.51'),
 ('Mexico', '12.58'),
 ('Bermuda', '2.48'),
 ('British Virgin Islands', '13.45'),
 ('Canada', '4.71'),
 ('United States', '6.17'),
 ('Cayman Islands', '6.21'),
 ('Costa Rica', '8.7'),
 ('Nicaragua', '20.36'),
 ('Panama', '10.7'),
 ('Cuba', '4.7'),
 ('Dominica', '11.61'),
 ('Dominican Republic', '19.63'),
 ('Haiti', '49.43'),
 ('El Salvador', '18.44'),
 ('Honduras', '18.72'),
 ('Greenland', '9.42'),
 ('Grenada', '10.5'),
 ('Guadeloupe', '8.3'),
 ('Jamaica', '13.69'),
 ('Martinique', '7.1'),
 ('Montserrat', '13.66'),
 ('Curacao', nan),
 ('Sint Maarten', '9.05'),
 ('Saint Martin', nan),
 ('Saint Barthelemy', nan),
 ('Colombia', '15.02'),
 ('Puerto Rico', '7.73'),
 ('Saint Kitts and Nevis', '8.98'),
 ('Saint Lucia', '11.75'),
 ('Saint Pierre and Miquelon', '6.95'),
 ('Saint Vincent and the Grenadines', '13.07'),
 ('Trinidad and Tobago', '24.82'),
 ('Turks and Caicos Islands', '10.97'),
 ('Virgin Islands', '6.79'),
 ('American Samoa', '8.92'),
 ('Australia', '4.43'),
 ('Cook Islands', '14.33'),
 ('Fiji', '10.2'),
 ('French Polynesia', '4.78'),
 ('Guam', '5.51'),
 ('Kiribati', '35.37'),
 ('Marshall Islands', '21.39'),
 ('Micronesia', '21.93'),
 ('Nauru', '8.21'),
 ('New Caledonia', '5.46'),
 ('New Zealand', '4.59'),
 ('Niue', nan),
 ('Norfolk Island', nan),
 ('Northern Mariana Islands', '5.5'),
 ('Palau', '11.46'),
 ('Pitcairn', nan),
 ('Solomon Islands', '16.17'),
 ('Tonga', '12.36'),
 ('Tuvalu', '31.69'),
 ('Tokelau', nan),
 ('Vanuatu', '16.41'),
 ('Wallis and Futuna', '4.49'),
 ('Samoa', '20.5'),
 ('Argentina', '9.96'),
 ('Bolivia', '38.61'),
 ('Brazil', '19.21'),
 ('Chile', '7.02'),
 ('Paraguay', '20.75'),
 ('Uruguay', '8.97'),
 ('Peru', '20.21'),
 ('French Guiana', '14.6'),
 ('Guyana', '33.56'),
 ('Suriname', '27.07'),
 ('Venezuela', '19.33'),
 ('Ecuador', '17.93'),
 ('Falkland Islands', nan),
 ('Algeria', '21.76'),
 ('Libya', '11.87'),
 ('Mali', '104.34'),
 ('Mauritania', '56.06'),
 ('Morocco', '24.52'),
 ('Niger', '86.27'),
 ('Tunisia', '23.19'),
 ('Western Sahara', '145.82'),
 ('Angola', '79.99'),
 ('Congo', '59.34'),
 ('Namibia', '45.64'),
 ('Zaire', '73.15'),
 ('Zambia', '66.62'),
 ('Benin', '57.09'),
 ('Burkina Faso', '76.8'),
 ('Nigeria', '74.09'),
 ('Togo', '46.73'),
 ('Botswana', '9.38'),
 ('South Africa', '41.61'),
 ('Zimbabwe', '26.55'),
 ('Cote dIvoire', '60.16'),
 ('Ghana', '38.52'),
 ('Burundi', '63.44'),
 ('Rwanda', '59.59'),
 ('Tanzania', '43.74'),
 ('Cameroon', '55.1'),
 ('Central African Republic', '92.86'),
 ('Chad', '90.3'),
 ('Equatorial Guinea', '71.12'),
 ('Gabon', '47.03'),
 ('Cape Verde', '24.28'),
 ('Sudan', '52.86'),
 ('South Sudan', '68.16'),
 ('Comoros', '65.31'),
 ('Guinea', '55.24'),
 ('Liberia', '69.19'),
 ('Djibouti', '50.2'),
 ('Eritrea', '38.44'),
 ('Ethiopia', '55.77'),
 ('Somalia', '100.14'),
 ('Kenya', '40.71'),
 ('Gambia', '65.74'),
 ('Senegal', '52.72'),
 ('Guinea-Bissau', '90.92'),
 ('Sierra Leone', '73.29'),
 ('Uganda', '60.82'),
 ('Lesotho', '50.48'),
 ('Madagascar', '44.88'),
 ('Malawi', '48.01'),
 ('Mozambique', '72.42'),
 ('Mauritius', '10.59'),
 ('Mayotte', '56.29'),
 ('Swaziland', '54.82'),
 ('Reunion', '7.5'),
 ('Saint Helena', '17.63'),
 ('Sao Tome and Principe', '49.16'),
 ('Seychelles', '10.77')]

In [6]:
# Convert tuple into a dataframe using pandas for analysis

columnlabels = ['Country', 'Infant Mortality Rate'] #column names
unsorted_data = pd.DataFrame.from_records(countries, columns = columnlabels).dropna()
unsorted_data.head(10) # It can be seen that empty data has been dropped

           Country Infant Mortality Rate
0          Albania                 13.19
1           Greece                  4.78
2        Macedonia                   7.9
3           Serbia                  6.16
6          Andorra                  3.69
7           France                  3.31
8            Spain                  3.33
9          Austria                  4.16
10  Czech Republic                  2.63
11         Germany                  3.46

In [7]:
unsorted_data.dtypes # Look at data types of columns

Country                  object
Infant Mortality Rate    object
dtype: object

In [8]:
unsorted_data['Infant Mortality Rate'] = pd.to_numeric(unsorted_data['Infant Mortality Rate'])

In [9]:
unsorted_data.sort_values('Infant Mortality Rate').head(10)

            Country  Infant Mortality Rate
38           Monaco                   1.81
98            Japan                   2.13
117         Bermuda                   2.48
36           Norway                   2.48
106       Singapore                   2.53
37           Sweden                   2.60
10   Czech Republic                   2.63
78        Hong Kong                   2.73
79            Macao                   3.13
44          Iceland                   3.15

# Question 2 : Cities with Largest Population

In [71]:
cities = [] # create an empty tuple to store data in

# Store Data in empty tuple above
for element in document.iterfind('country'): # Look for attribute 'country'
    for city in element.iter('city'):       # Look for cities within country
        
        cityname = city.find('name').text    # Store city name 
        latest_census_year = 0               # Initialise Index
        for poplation in city.iterfind('population'):   # Search for population
            census_year = int(poplation.attrib['year']) # Determine year of last census
            if (census_year >= latest_census_year):      # If latest census year, then store population information
                citypop = int(poplation.text)
                latest_census_year = census_year         # If not latest census year then iterate through loop again
                
        q2 = (cityname,citypop,census_year) 
        cities.append(q2) # store data in tuple

In [70]:
cities

[('Tirana', 418495, 2011),
 ('Shkodër', 77075, 2011),
 ('Durrës', 113249, 2011),
 ('Vlorë', 79513, 2011),
 ('Elbasan', 78703, 2011),
 ('Korçë', 51152, 2011),
 ('Komotini', 51152, 2011),
 ('Kavala', 58790, 2011),
 ('Athina', 664046, 2011),
 ('Peiraias', 163688, 2011),
 ('Peristeri', 139981, 2011),
 ('Acharnes', 106943, 2011),
 ('Patra', 213984, 2011),
 ('Kozani', 213984, 2011),
 ('Kerkyra', 102071, 2011),
 ('Ioannina', 112486, 2011),
 ('Thessaloniki', 325182, 2011),
 ('Iraklio', 173993, 2011),
 ('Chania', 108642, 2011),
 ('Ermoupoli', 108642, 2011),
 ('Rhodes', 115490, 2011),
 ('Tripoli', 115490, 2011),
 ('Lamia', 75315, 2011),
 ('Chalkida', 102223, 2011),
 ('Larissa', 162591, 2011),
 ('Volos', 144449, 2011),
 ('Mytilini', 144449, 2011),
 ('Karyes', 233, 2014),
 ('Skopje', 514967, 2011),
 ('Kumanovo', 107745, 2011),
 ('Beograd', 1639121, 2011),
 ('Novi Sad', 335701, 2011),
 ('Niš', 257867, 2011),
 ('Podgorica', 150977, 2011),
 ('Prishtine', 198214, 2011),
 ('Andorra la Vella', 22256, 2011),
 ('Strasbourg', 272222, 2011),
 ('Mulhouse', 110351, 2011),
 ('Bordeaux', 239399, 2011),
 ('Clermont-Ferrand', 140957, 2011),
 ('Caen', 108793, 2011),
 ('Rennes', 208033, 2011),
 ('Brest', 140547, 2011),
 ('Dijon', 151672, 2011),
 ('Orléans', 114185, 2011),
 ('Tours', 134633, 2011),
 ('Reims', 180752, 2011),
 ('Chalons en Champagne', 180752, 2011),
 ('Ajaccio', 66245, 2011),
 ('Besançon', 115879, 2011),
 ('Rouen', 111553, 2011),
 ('Le Havre', 174156, 2011),
 ('Paris', 2249975, 2011),
 ('Boulogne-Billancourt', 116220, 2011),
 ('Argenteuil', 104282, 2011),
 ('Montreuil', 103068, 2011),
 ('Saint-Paul', 103916, 2011),
 ('Montpellier', 264538, 2011),
 ('Nîmes', 144940, 2011),
 ('Perpignan', 118238, 2011),
 ('Limoges', 137758, 2011),
 ('Metz', 119962, 2011),
 ('Nancy', 105382, 2011),
 ('Toulouse', 447340, 2011),
 ('Lille', 227533, 2011),
 ('Nantes', 287845, 2011),
 ('Angers', 148803, 2011),
 ('Le Mans', 143240, 2011),
 ('Amiens', 133327, 2011),
 ('Poitiers', 87646, 2011),
 ('Marseille', 850636, 2011),
 ('Nice', 344064, 2011),
 ('Toulon', 163974, 2011),
 ('Aix-en-Provence', 140684, 2011),
 ('Lyon', 491268, 2011),
 ('Grenoble', 157424, 2011),
 ('Saint-Étienne', 170049, 2011),
 ('Villeurbanne', 145034, 2011),
 ('Sevilla', 698042, 2011),
 ('Almería', 189680, 2011),
 ('Cádiz', 124014, 2011),
 ('Córdoba', 328326, 2011),
 ('Granada', 241003, 2011),
 ('Huelva', 147808, 2011),
 ('Málaga', 561435, 2011),
 ('Jerez de la Frontera', 211784, 2011),
 ('Jaén', 116469, 2011),
 ('Algeciras', 117695, 2011),
 ('Marbella', 135124, 2011),
 ('Dos Hermanas', 128433, 2011),
 ('Zaragoza', 678115, 2011),
 ('Oviedo', 225005, 2011),
 ('Gijón', 276969, 2011),
 ('Palma de Mallorca', 402044, 2011),
 ('Vitoria-Gasteiz', 240753, 2011),
 ('Bilbao', 351356, 2011),
 ('Barakaldo', 100064, 2011),
 ('Donostia', 185512, 2011),
 ('Santa Cruz de Tenerife', 204476, 2011),
 ('San Cristóbal de La Laguna', 152025, 2011),
 ('Las Palmas de Gran Canaria', 381271, 2011),
 ('Telde', 101080, 2011),
 ('Santander', 178095, 2011),
 ('Valladolid', 311682, 2011),
 ('Burgos', 178864, 2011),
 ('León', 131411, 2011),
 ('Salamanca', 151658, 2011),
 ('Toledo', 151658, 2011),
 ('Albacete', 171999, 2011),
 ('Barcelona', 1611013, 2011),
 ('Lleida', 137283, 2011),
 ('Tarragona', 133223, 2011),
 ('Reus', 106849, 2011),
 ('Hospitalet de Llobregat', 256509, 2011),
 ('Badalona', 219241, 2011),
 ('Sabadell', 206949, 2011),
 ('Terrassa', 214406, 2011),
 ('Santa Coloma de Gramenet', 119391, 2011),
 ('Mataró', 123367, 2011),
 ('Badajoz', 151214, 2011),
 ('Merida', 151214, 2011),
 ('A Coruña', 245053, 2011),
 ('Vigo', 295623, 2011),
 ('Ourense', 107314, 2011),
 ('Santiago de Compostela', 107314, 2011),
 ('Madrid', 3198645, 2011),
 ('Móstoles', 203493, 2011),
 ('Leganés', 185758, 2011),
 ('Alcalá de Henares', 200505, 2011),
 ('Fuenlabrada', 196986, 2011),
 ('Getafe', 168642, 2011),
 ('Alcorcón', 167217, 2011),
 ('Torrejón de Ardoz', 123213, 2011),
 ('Parla', 122045, 2011),
 ('Alcobendas', 110351, 2011),
 ('Murcia', 437667, 2011),
 ('Cartagena', 215757, 2011),
 ('Pamplona', 195943, 2011),
 ('Logroño', 152698, 2011),
 ('Valencia', 792054, 2011),
 ('Alicante', 329325, 2011),
 ('Elche', 227417, 2011),
 ('Castellón de la Plana', 176298, 2011),
 ('Eisenstadt', 13485, 2013),
 ('Klagenfurt', 96531, 2013),
 ('Villach', 59942, 2013),
 ('Bregenz', 59942, 2013),
 ('Wien', 1761738, 2013),
 ('Linz', 193511, 2013),
 ('Wels', 59239, 2013),
 ('Innsbruck', 124386, 2013),
 ('Graz', 269211, 2013),
 ('Salzburg', 146676, 2013),
 ('St. Pölten', 52100, 2013),
 ('Praha', 1289556, 2011),
 ('České Budějovice', 95589, 2011),
 ('Brno', 404820, 2011),
 ('Karlovy Vary', 53310, 2011),
 ('Jihlava', 51162, 2011),
 ('Hradec Králové', 95594, 2011),
 ('Liberec', 104973, 2011),
 ('Ostrava', 311508, 2011),
 ('Olomouc', 101954, 2011),
 ('Pardubice', 90844, 2011),
 ('Plzeň', 171346, 2011),
 ('Ústí nad Labem', 98596, 2011),
 ('Zlín', 77137, 2011),
 ('Stuttgart', 585890, 2011),
 ('Mannheim', 290117, 2011),
 ('Karlsruhe', 289173, 2011),
 ('Freiburg', 209628, 2011),
 ('Heidelberg', 146751, 2011),
 ('Heilbronn', 116059, 2011),
 ('Pforzheim', 114411, 2011),
 ('Ulm', 116761, 2011),
 ('Reutlingen', 109799, 2011),
 ('München', 1348335, 2011),
 ('Nürnberg', 486314, 2011),
 ('Augsburg', 267767, 2011),
 ('Würzburg', 124297, 2011),
 ('Regensburg', 135403, 2011),
 ('Ingolstadt', 124927, 2011),
 ('Fürth', 115613, 2011),
 ('Erlangen', 103719, 2011),
 ('Berlin', 3292365, 2011),
 ('Potsdam', 156021, 2011),
 ('Cottbus', 99984, 2011),
 ('Bremen', 542707, 2011),
 ('Bremerhaven', 108156, 2011),
 ('Hamburg', 1706696, 2011),
 ('Wiesbaden', 269121, 2011),
 ('Frankfurt am Main', 667925, 2011),
 ('Kassel', 190765, 2011),
 ('Darmstadt', 143499, 2011),
 ('Offenbach am Main', 113443, 2011),
 ('Schwerin', 91293, 2011),
 ('Rostock', 200265, 2011),
 ('Hannover', 506416, 2011),
 ('Braunschweig', 242537, 2011),
 ('Osnabrück', 153699, 2011),
 ('Oldenburg', 157267, 2011),
 ('Göttingen', 115843, 2011),
 ('Wolfsburg', 119984, 2011),
 ('Salzgitter', 98895, 2011),
 ('Hildesheim', 99554, 2011),
 ('Düsseldorf', 586291, 2011),
 ('Köln', 1005775, 2011),
 ('Essen', 566201, 2011),
 ('Dortmund', 571143, 2011),
 ('Duisburg', 488468, 2011),
 ('Bochum', 362286, 2011),
 ('Wuppertal', 342661, 2011),
 ('Bielefeld', 326870, 2011),
 ('Gelsenkirchen', 258766, 2011),
 ('Bonn', 305765, 2011),
 ('Mönchengladbach', 255188, 2011),
 ('Münster', 289576, 2011),
 ('Krefeld', 222247, 2011),
 ('Aachen', 236420, 2011),
 ('Oberhausen', 210216, 2011),
 ('Hagen', 187944, 2011),
 ('Hamm', 176037, 2011),
 ('Herne', 155160, 2011),
 ('Mülheim an der Ruhr', 166865, 2011),
 ('Solingen', 155265, 2011),
 ('Leverkusen', 158984, 2011),
 ('Neuss', 150568, 2011),
 ('Paderborn', 142365, 2011),
 ('Recklinghausen', 115958, 2011),
 ('Remscheid', 110708, 2011),
 ('Bottrop', 117311, 2011),
 ('Siegen', 99187, 2011),
 ('Moers', 104009, 2011),
 ('Witten', 96382, 2011),
 ('Bergisch Gladbach', 108878, 2011),
 ('Mainz', 200344, 2011),
 ('Ludwigshafen', 157584, 2011),
 ('Koblenz', 107825, 2011),
 ('Kaiserslautern', 96340, 2011),
 ('Trier', 105671, 2011),
 ('Saarbrücken', 175853, 2011),
 ('Dresden', 512354, 2011),
 ('Leipzig', 502979, 2011),
 ('Chemnitz', 240253, 2011),
 ('Zwickau', 93081, 2011),
 ('Magdeburg', 228144, 2011),
 ('Halle', 229153, 2011),
 ('Kiel', 235782, 2011),
 ('Lübeck', 210305, 2011),
 ('Erfurt', 200868, 2011),
 ('Gera', 96067, 2011),
 ('Jena', 105739, 2011),
 ('Pécs', 156049, 2011),
 ('Kecskemét', 111411, 2011),
 ('Békéscsaba', 62050, 2011),
 ('Miskolc', 167754, 2011),
 ('Szeged', 168048, 2011),
 ('Hodmezovasarhely', 168048, 2011),
 ('Székesfehérvár', 100570, 2011),
 ('Győr', 129527, 2011),
 ('Debrecen', 211320, 2011),
 ('Eger', 56569, 2011),
 ('Tatabánya', 67753, 2011),
 ('Salgotarjan', 67753, 2011),
 ('Kaposvár', 66245, 2011),
 ('Nyíregyháza', 119746, 2011),
 ('Szolnok', 72953, 2011),
 ('Szekszard', 72953, 2011),
 ('Szombathely', 78884, 2011),
 ('Veszprém', 61721, 2011),
 ('Zalaegerszeg', 59499, 2011),
 ('Budapest', 1729040, 2011),
 ('Novara', 101952, 2011),
 ('Torino', 872367, 2011),
 ('Aosta', 872367, 2011),
 ('Bérgamo', 115349, 2011),
 ('Bréscia', 189902, 2011),
 ('Milano', 1242123, 2011),
 ('Monza', 119856, 2011),
 ('Bolzano', 102575, 2011),
 ('Trento', 114198, 2011),
 ('Pádova', 206192, 2011),
 ('Verona', 252520, 2011),
 ('Vicenza', 111500, 2011),
 ('Venézia', 261362, 2011),
 ('Trieste', 202123, 2011),
 ('La Spezia', 92659, 2011),
 ('Génova', 586180, 2011),
 ('Bologna', 371337, 2011),
 ('Ferrara', 132545, 2011),
 ('Forlí', 116434, 2011),
 ('Módena', 179149, 2011),
 ('Parma', 175895, 2011),
 ('Piacenza', 100311, 2011),
 ('Ravenna', 153740, 2011),
 ("Réggio nell'Emilia", 162082, 2011),
 ('Rímini', 139601, 2011),
 ('Livorno', 157052, 2011),
 ('Pisa', 85858, 2011),
 ('Firenze', 358079, 2011),
 ('Prato', 185456, 2011),
 ('Perúgia', 162449, 2011),
 ('Terni', 109193, 2011),
 ('Ancona', 100497, 2011),
 ('Roma', 2617175, 2011),
 ('Latina', 117892, 2011),
 ('Pescara', 117166, 2011),
 ('LAquila', 117166, 2011),
 ('Campobasso', 117166, 2011),
 ('Salerno', 132608, 2011),
 ('Nápoli', 962003, 2011),
 ('Torre del Greco', 85922, 2011),
 ('Giugliano in Campania', 108793, 2011),
 ('Bari', 315933, 2011),
 ('Fóggia', 147036, 2011),
 ('Lecce', 89916, 2011),
 ('Andria', 100052, 2011),
 ('Táranto', 200154, 2011),
 ('Potenza', 200154, 2011),
 ('Catanzaro', 89364, 2011),
 ('Cosenza', 69484, 2011),
 ('Réggio di Calabria', 180817, 2011),
 ('Palermo', 657561, 2011),
 ('Messina', 243262, 2011),
 ('Catánia', 293902, 2011),
 ('Siracusa', 118385, 2011),
 ('Cágliari', 149883, 2011),
 ('Sássari', 123782, 2011),
 ('Vaduz', 5241, 2012),
 ('Bratislava', 411228, 2011),
 ('Banská Bystrica', 80003, 2011),
 ('Žilina', 81494, 2011),
 ('Košice', 240433, 2011),
 ('Prešov', 91782, 2011),
 ('Nitra', 78916, 2011),
 ('Trenčín', 55877, 2011),
 ('Trnava', 66358, 2011),
 ('Ljubljana', 282994, 2013),
 ('Maribor', 111374, 2013),
 ('Aarau', 111374, 2013),
 ('Herisau', 111374, 2013),
 ('Appenzell', 111374, 2013),
 ('Liestal', 111374, 2013),
 ('Basel', 167386, 2013),
 ('Bern', 128848, 2013),
 ('Biel', 53031, 2013),
 ('Fribourg', 53031, 2013),
 ('Genève', 191557, 2013),
 ('Glarus', 191557, 2013),
 ('Chur', 191557, 2013),
 ('Delemont', 191557, 2013),
 ('Luzern', 80501, 2013),
 ('Neuchatel', 80501, 2013),
 ('Stans', 80501, 2013),
 ('Sarnen', 80501, 2013),
 ('Sankt Gallen', 74581, 2013),
 ('Schaffhausen', 74581, 2013),
 ('Schwyz', 74581, 2013),
 ('Solothurn', 74581, 2013),
 ('Frauenfeld', 74581, 2013),
 ('Bellinzona', 74581, 2013),
 ('Lugano', 62792, 2013),
 ('Altdorf', 62792, 2013),
 ('Sion', 62792, 2013),
 ('Lausanne', 132788, 2013),
 ('Zug', 132788, 2013),
 ('Zürich', 384786, 2013),
 ('Winterthur', 105676, 2013),
 ('Brest', 309764, 2009),
 ('Vitebsk', 347928, 2009),
 ('Gomel', 482652, 2009),
 ('Grodno', 327540, 2009),
 ('Mogilev', 358279, 2009),
 ('Bobruysk', 215092, 2009),
 ('Minsk', 1836808, 2009),
 ('Rīga', 696618, 2013),
 ('Vilnius', 538747, 2013),
 ('Kaunas', 307498, 2013),
 ('Klaipeda', 158891, 2013),
 ('Wrocław', 631377, 2012),
 ('Legnica', 102708, 2012),
 ('Wałbrzych', 119216, 2012),
 ('Bydgoszcz', 362286, 2012),
 ('Toruń', 204847, 2012),
 ('Grudziadz', 98726, 2012),
 ('Włocławek', 115982, 2012),
 ('Lublin', 348120, 2012),
 ('Zielona Góra', 119182, 2012),
 ('Gorzów Wielkopolski', 124470, 2012),
 ('Łódź', 722022, 2012),
 ('Kraków', 759131, 2012),
 ('Tarnów', 113188, 2012),
 ('Warszawa', 1711324, 2012),
 ('Płock', 124048, 2012),
 ('Radom', 220062, 2012),
 ('Opole', 122120, 2012),
 ('Rzeszów', 180776, 2012),
 ('Białystok', 294675, 2012),
 ('Gdańsk', 460354, 2012),
 ('Gdynia', 248574, 2012),
 ('Katowice', 308269, 2012),
 ('Jastrzebie Zdroj', 92465, 2012),
 ('Sosnowiec', 214488, 2012),
 ('Dąbrowa Górnicza', 125063, 2012),
 ('Bytom', 175377, 2012),
 ('Gliwice', 186347, 2012),
 ('Zabrze', 179861, 2012),
 ('Tychy', 129087, 2012),
 ('Ruda Śląska', 142672, 2012),
 ('Rybnik', 140863, 2012),
 ('Chorzów', 111314, 2012),
 ('Częstochowa', 235156, 2012),
 ('Bielsko-Biała', 174291, 2012),
 ('Kielce', 201363, 2012),
 ('Olsztyn', 175482, 2012),
 ('Elbląg', 123977, 2012),
 ('Poznań', 552393, 2012),
 ('Kalisz', 104867, 2012),
 ('Szczecin', 409211, 2012),
 ('Koszalin', 109183, 2012),
 ('Cherkasy', 286163, 2012),
 ('Chernihiv', 296723, 2012),
 ('Chernivtsi', 255929, 2012),
 ('Dnipropetrovs´k', 999577, 2012),
 ('Kryvyi Rih', 660203, 2012),
 ('Dniprodzerzhyns´k', 242646, 2012),
 ('Nikopol´', 120000, 2012),
 ('Donets´k', 955041, 2012),
 ('Mariupol´', 464457, 2012),
 ('Makiïvka', 356118, 2012),
 ('Horlivka', 258879, 2012),
 ('Kramators´k', 165469, 2012),
 ('Ivano-Frankivs´k', 224660, 2012),
 ('Kharkiv', 1441362, 2012),
 ('Kherson', 300666, 2012),
 ('Khmel´nyts´kyi', 263703, 2012),
 ('Prypjat', 0, 2001),
 ('Kirovohrad', 234919, 2012),
 ('Luhans´k', 427187, 2012),
 ('L´viv', 729842, 2012),
 ('Mykolaïv', 497032, 2012),
 ('Odesa', 1008162, 2012),
 ('Poltava', 297589, 2012),
 ('Kremenchuk', 226434, 2012),
 ('Rivne', 250174, 2012),
 ('Sumy', 269663, 2012),
 ('Ternopil´', 217300, 2012),
 ('Vinnytsia', 370814, 2012),
 ('Luts´k', 213063, 2012),
 ('Uzhhorod', 116556, 2012),
 ('Zaporizhzhia', 772627, 2012),
 ('Melitopol´', 156885, 2012),
 ('Zhytomyr', 271895, 2012),
 ('Simferopol´', 335582, 2012),
 ('Kerch', 145845, 2012),
 ('Kyïv', 2814258, 2012),
 ('Bila Tserkva', 210551, 2012),
 ('Sevastopol´', 340559, 2012),
 ('Petrozavodsk', 268946, 2013),
 ('Syktyvkar', 235006, 2010),
 ('Ukhta', 99591, 2010),
 ('Vorkuta', 70548, 2010),
 ('Arkhangelsk', 350985, 2013),
 ('Severodvinsk', 192353, 2010),
 ('Vologda', 306487, 2013),
 ('Cherepovets', 315738, 2013),
 ('Murmansk', 302468, 2013),
 ('Kaliningrad', 441376, 2013),
 ('Sankt Peterburg', 5028000, 2013),
 ('Velikij Novgorod', 218717, 2010),
 ('Pskov', 203279, 2010),
 ('Bryansk', 410837, 2013),
 ('Vladimir', 347930, 2013),
 ('Kovrov', 145214, 2010),
 ('Murom', 116075, 2010),
 ('Ivanovo', 409075, 2013),
 ('Kaluga', 331351, 2013),
 ('Obninsk', 104739, 2010),
 ('Kostroma', 271445, 2013),
 ('Moskva', 11979529, 2013),
 ("Podol'sk", 187961, 2010),
 ('Železnodorožnyj', 131257, 2010),
 ('Krasnogorsk', 116896, 2010),
 ("L'ubercy", 172525, 2010),
 ('Kolomna', 144589, 2010),
 ('Mytišči', 173160, 2010),
 ("Elektrostal'", 155196, 2010),
 ('Serpuchov', 127041, 2010),
 ('Balašicha', 215494, 2010),
 ('Chimki', 207425, 2010),
 ('Odincovo', 138930, 2010),
 ('Orechovo-Zujevo', 120670, 2010),
 ('Noginsk', 100072, 2010),
 ('Ščëlkovo', 110411, 2010),
 ('Sergijev Posad', 111179, 2010),
 ('Korolëv', 183402, 2010),
 ('Žukovskij', 104736, 2010),
 ('Puškino', 102874, 2010),
 ('Orel', 318136, 2013),
 ('Ryazan', 527905, 2013),
 ('Smolensk', 330970, 2013),
 ('Tver', 408877, 2013),
 ('Tula', 493813, 2013),
 ('Novomoskovsk', 131386, 2010),
 ('Yaroslavl', 599169, 2013),
 ('Rybinsk', 200771, 2010),
 ('Yoshkar-Ola', 257015, 2013),
 ('Saransk', 298287, 2013),
 ('Cheboksary', 464940, 2013),
 ('Novočeboksarsk', 124097, 2010),
 ('Kirov', 483176, 2013),
 ('Nizhnii Novgorod', 1259921, 2013),
 ('Dzeržinsk', 240742, 2010),
 ('Arzamas', 106362, 2010),
 ('Belgorod', 373528, 2013),
 ('Staryj Oskol', 221085, 2010),
 ('Voronezh', 1003638, 2013),
 ('Kursk', 428741, 2013),
 ('Lipetsk', 509098, 2013),
 ('Jelec', 108404, 2010),
 ('Tambov', 281834, 2013),
 ('Elista', 103749, 2010),
 ('Kazan', 1176187, 2013),
 ('Naberezhnye Tchelny', 519025, 2013),
 ('Nižnekamsk', 234044, 2010),
 ("Al'metjevsk", 146393, 2010),
 ('Astrakhan', 527345, 2013),
 ('Volgograd', 1018790, 2013),
 ('Volzhsky', 327356, 2013),
 ('Kamyšin', 119565, 2010),
 ('Penza', 519900, 2013),
 ('Samara', 1171598, 2013),
 ('Tolyatti', 719149, 2013),
 ("Syzran'", 178750, 2010),
 ('Novokujbyševsk', 108438, 2010),
 ('Saratov', 839755, 2013),
 ('Balakovo', 199690, 2010),
 ("Ėngel's", 202419, 2010),
 ('Ulyanovsk', 615306, 2013),
 ('Dimitrovgrad', 122580, 2010),
 ('Rostov-na-Donu', 1103733, 2013),
 ('Batajsk', 111843, 2010),
 ('Taganrog', 254783, 2013),
 ('Šachty', 239987, 2010),
 ('Novočerkassk', 168746, 2010),
 ('Volgodonsk', 170841, 2010),
 ('Novošachtinsk', 111075, 2010),
 ('Ufa', 1077719, 2013),
 ('Sterlitamak', 275798, 2013),
 ('Salavat', 156095, 2010),
 ("Okt'abr'skij", 109474, 2010),
 ('Izhevsk', 632913, 2013),
 ('Sarapul', 101381, 2010),
 ('Orenburg', 556127, 2013),
 ('Orsk', 239800, 2010),
 ('Perm', 1013887, 2013),
 ('Berezniki', 156466, 2010),
 ('Majkop', 144249, 2010),
 ('Makhachkala', 576194, 2013),
 ('Derbent', 119200, 2010),
 ('Kaspijsk', 100129, 2010),
 ('Chasavjurt', 131187, 2010),
 ("Nazran'", 93335, 2010),
 ("Nal'čik", 240203, 2010),
 ('Čerkessk', 129069, 2010),
 ('Vladikavkaz', 308285, 2013),
 ('Grozny', 277414, 2013),
 ('Krasnodar', 784048, 2013),
 ('Sochi', 368011, 2013),
 ('Novorossiysk', 251013, 2013),
 ('Armavir', 188832, 2010),
 ('Stavropol', 412116, 2013),
 ("P'atigorsk", 142511, 2010),
 ('Nevinnomyssk', 118360, 2010),
 ('Kislovodsk', 128553, 2010),
 ('Jessentuki', 100996, 2010),
 ('Neftekamsk', 121733, 2010),
 ('Kurgan', 325565, 2013),
 ('Yekaterinburg', 1396074, 2013),
 ('Nizhny Tagil', 358378, 2013),
 ("Kamensk-Ural'skij", 174689, 2010),
 ("Pervoural'sk", 124528, 2010),
 ('Chelyabinsk', 1156201, 2013),
 ('Magnitogorsk', 411880, 2013),
 ('Zlatoust', 174962, 2010),
 ('Miass', 151751, 2010),
 ('Kopejsk', 137601, 2010),
 ('Gorno Altaysk', 56933, 2010),
 ('Barnaul', 629681, 2013),
 ('Bijsk', 210115, 2010),
 ('Rubcovsk', 147002, 2010),
 ('Kemerovo', 540095, 2013),
 ('Novokuznetsk', 549182, 2013),
 ('Prokopjevsk', 210130, 2010),
 ('Novosibirsk', 1523801, 2013),
 ('Omsk', 1160670, 2013),
 ('Tomsk', 547989, 2013),
 ('Seversk', 108590, 2010),
 ('Tyumen', 634171, 2013),
 ('Ulan-Ude', 416079, 2013),
 ('Kyzyl', 109918, 2010),
 ('Abakan', 165214, 2010),
 ('Krasnoyarsk', 1016385, 2013),
 ("Noril'sk", 175365, 2010),
 ('Ačinsk', 109155, 2010),
 ('Irkutsk', 606137, 2013),
 ('Angarsk', 233567, 2010),
 ('Bratsk', 246319, 2010),
 ('Chita', 331346, 2013),
 ('Yakutsk', 286456, 2013),
 ('Birobidzhan', 75413, 2010),
 ('Anadyr', 13045, 2010),
 ('Vladivostok', 600378, 2013),
 ('Nachodka', 159719, 2010),
 ('Ussurijsk', 158004, 2010),
 ('Khabarovsk', 593636, 2013),
 ('Komsomolsk-na-Amure', 257891, 2013),
 ('Blagoveščensk', 214390, 2010),
 ('Petropavlovsk-Kamčatskij', 179780, 2010),
 ('Magadan', 95982, 2010),
 ('Okhotsk', 4215, 2010),
 ('Južno-Sachalinsk', 181728, 2010),
 ('Khanty Mansijsk', 80151, 2010),
 ('Surgut', 325511, 2013),
 ('Nizhnevartovsk', 263228, 2013),
 ('Neftejugansk', 122855, 2010),
 ('Salekhard', 42544, 2010),
 ("Nojabr'sk", 110620, 2010),
 ('Novyj Urengoj', 104107, 2010),
 ('Bruxelles', 168576, 2013),
 ('Schaerbeek', 130587, 2013),
 ('Molenbeek-Saint-Jean', 94653, 2013),
 ('Anderlecht', 113462, 2013),
 ('Antwerpen', 507911, 2013),
 ('Gent', 248813, 2013),
 ('Charleroi', 203753, 2013),
 ('Mons', 93941, 2013),
 ('Liège', 195931, 2013),
 ('Hasselt', 75579, 2013),
 ('Arlon', 28759, 2013),
 ('Namur', 110500, 2013),
 ('Brugge', 117577, 2013),
 ('Wavre', 117577, 2013),
 ('Leuven', 97692, 2013),
 ('Luxembourg', 99852, 2012),
 ('Groningen', 198023, 2014),
 ('Leeuwarden', 108145, 2014),
 ('Assen', 108145, 2014),
 ('Enschede', 158494, 2014),
 ('Zwolle', 123440, 2014),
 ('Lelystad', 76252, 2014),
 ('Almere', 196244, 2014),
 ('Arnhem', 150989, 2014),
 ('Nijmegen', 168810, 2014),
 ('Apeldoorn', 157540, 2014),
 ('Utrecht', 330081, 2014),
 ('Amersfoort', 151270, 2014),
 ('Amsterdam', 812895, 2014),
 ('Haarlem', 155361, 2014),
 ('Zaanstad', 151058, 2014),
 ('Hilversum', 86738, 2014),
 ('Den Haag', 509623, 2014),
 ('Rotterdam', 619180, 2014),
 ('Dordrecht', 118780, 2014),
 ('Leiden', 121387, 2014),
 ('Middelburg', 121387, 2014),
 ("'s-Hertogenbosch", 143822, 2014),
 ('Eindhoven', 221279, 2014),
 ('Tilburg', 210283, 2014),
 ('Breda', 180263, 2014),
 ('Maastricht', 122243, 2014),
 ('Heerlen', 88139, 2014),
 ('Sittard-Geleen', 93726, 2014),
 ('Sarajevo', 291422, 2013),
 ('Tuzla', 120441, 2013),
 ('Zenica', 115134, 2013),
 ('Mostar', 113169, 2013),
 ('Banja Luka', 199191, 2013),
 ('Bijeljina', 114663, 2013),
 ('Brčko', 93028, 2013),
 ('Zagreb', 686568, 2011),
 ('Split', 165893, 2011),
 ('Rijeka', 127498, 2011),
 ('Osijek', 83496, 2011),
 ('Zadar', 70674, 2011),

In [60]:
population_labels = ['City', 'Population', 'Year_of_census'] # create column headings
citydf = pd.DataFrame.from_records(cities, columns = population_labels)# combine column headings and tuplle to create dataframa
citydf.head(5)

      City  Population  Year_of_census
0   Tirana      418495            2011
1  Shkodër       77075            2011
2   Durrës      113249            2011
3    Vlorë       79513            2011
4  Elbasan       78703            2011

In [61]:
citydf.dtypes

City              object
Population         int64
Year_of_census     int64
dtype: object

In [63]:
citydf.sort_values('Population', ascending = False).head(10) # sort table by descending population and display top 10

           City  Population  Year_of_census
1341   Shanghai    22315474            2010
771    Istanbul    13710512            2012
1527     Mumbai    12442373            2011
479      Moskva    11979529            2013
1340    Beijing    11716620            2010
2810  São Paulo    11152344            2010
1342    Tianjin    11090314            2010
1064  Guangzhou    11071424            2010
1582      Delhi    11034555            2011
1067   Shenzhen    10358381            2010

# Question 3 : 10 ethnic groups with largest overall populations

In [86]:
# Step 1: extract ethnic group populations by country

ethnicity = []

for element in document.iterfind('country'):    # go through all countries
    countryname = element.find('name').text     # record the country name
    
    
    #### Re-use code from Question 2 to capture latest population data
    latest_census_year = 0               # Initialise Index
    for poplation in element.iterfind('population'):   # Search for population
            census_year = int(poplation.attrib['year']) # Determine year of last census
            if (census_year >= latest_census_year):      # If latest census year, then store population information
                countrypop = int(poplation.text)
                latest_census_year = census_year         # If not latest census year then iterate through loop again
                
                                                                    
    for ethnicgroup in element.iter('ethnicgroup'):   # determine ethnicities and their population percentages
        group = ethnicgroup.text
        pop_percent = float(ethnicgroup.attrib['percentage'])  
        
        ob = (countryname,group, countrypop, pop_percent,census_year)    # define a tuple with 5 items in the record
        ethnicity.append(ob)                                 # append tuple to the empty tuple created in begining
        #print(ob) #--> removed; used to test if the algorithm worked

In [87]:
labels = ['Country','Ethnic Group','Total Population','Percentage','Date of Population']
ethnic_dist = pd.DataFrame.from_records(ethnicity, columns = labels)
ethnic_dist.head(10)

,Country,Ethnic Group,Total Population,Percentage,Date of Population
0,Albania,Albanian,2800138,95.00,2011
1,Albania,Greek,2800138,3.00,2011
2,Greece,Greek,10816286,93.00,2011
3,Macedonia,Macedonian,2059794,64.20,2011
4,Macedonia,Albanian,2059794,25.20,2011
5,Macedonia,Turkish,2059794,3.90,2011
6,Macedonia,Gypsy,2059794,2.70,2011
7,Macedonia,Serb,2059794,1.80,2011
8,Serbia,Serb,7120666,82.90,2011
9,Serbia,Montenegrin,7120666,0.90,2011
10,Serbia,Hungarian,7120666,3.90,2011
11,Serbia,Roma,7120666,1.40,2011
12,Serbia,Bosniak,7120666,1.80,2011
13,Serbia,Croat,7120666,1.10,2011
14,Montenegro,Montenegrin,620029,43.00,2011
15,Montenegro,Serb,620029,32.00,2011
16,Montenegro,Bosniak,620029,8.00,2011
17,Montenegro,Albanian,620029,5.00,2011
18,Kosovo,Albanian,1733872,92.00,2011
19,Kosovo,Serbian,1733872,5.00,2011
20,Andorra,Spanish,78115,43.00,2011
21,Andorra,Andorran,78115,33.00,2011
22,Andorra,Portuguese,78115,11.00,2011
23,Andorra,French,78115,2.00,2011
24,Andorra,African,78115,5.00,2011
25,Spain,Mediterranean Nordic,46815916,100.00,2011
26,Austria,Austrian,8499759,91.10,2013
27,Austria,Turkish,8499759,1.60,2013
28,Austria,Slovene,8499759,1.00,2013
29,Austria,Croat,8499759,2.00,2013
...,...,...,...,...,...
598,Guinea-Bissau,African,1586624,99.00,2010
599,Sierra Leone,Asian,5751976,1.00,2010
600,Sierra Leone,African,5751976,99.00,2010
601,Uganda,Rwanda,34856813,6.00,2014
602,Uganda,Arab,34856813,1.00,2014
603,Uganda,Baganda,34856813,17.00,2014
604,Uganda,Karamojong,34856813,12.00,2014
605,Uganda,Basogo,34856813,8.00,2014
606,Uganda,Iteso,34856813,8.00,2014
607,Uganda,Langi,34856813,6.00,2014
608,Uganda,Bagisu,34856813,5.00,2014
609,Uganda,Acholi,34856813,4.00,2014
610,Uganda,Lugbara,34856813,4.00,2014
611,Uganda,Bunyoro,34856813,3.00,2014
612,Uganda,Batobo,34856813,3.00,2014
613,Lesotho,Sotho,2008921,99.70,2010
614,Mozambique,European,23700715,0.06,2012
615,Mozambique,Indian,23700715,0.08,2012
616,Mozambique,Euro-African,23700715,0.20,2012
617,Mauritius,Creole,1237091,27.00,2011
618,Mauritius,Indo-Mauritian,1237091,68.00,2011
619,Mauritius,Sino-Mauritian,1237091,3.00,2011
620,Mauritius,Franco-Mauritian,1237091,2.00,2011
621,Swaziland,European,1193148,3.00,2010
622,Swaziland,African,1193148,97.00,2010
623,Saint Helena,African descent,5663,50.00,2014
624,Saint Helena,White,5663,25.00,2014
625,Saint Helena,Chinese,5663,25.00,2014
626,Sao Tome and Principe,European,187356,100.00,2012
627,Seychelles,Seychellois,90945,100.00,2010

In [88]:
ethnic_dist.dtypes

Country                object
Ethnic Group           object
Total Population        int64
Percentage            float64
Date of Population      int64
dtype: object

In [91]:
ethnic_dist['ethnic population'] = round(ethnic_dist['Total Population']*ethnic_dist['Percentage']/100,0)
ethnic_dist.head(10)

,Country,Ethnic Group,Total Population,Percentage,Date of Population,ethnic population
0,Albania,Albanian,2800138,95.0,2011,2660131.0
1,Albania,Greek,2800138,3.0,2011,84004.0
2,Greece,Greek,10816286,93.0,2011,10059146.0
3,Macedonia,Macedonian,2059794,64.2,2011,1322388.0
4,Macedonia,Albanian,2059794,25.2,2011,519068.0
5,Macedonia,Turkish,2059794,3.9,2011,80332.0
6,Macedonia,Gypsy,2059794,2.7,2011,55614.0
7,Macedonia,Serb,2059794,1.8,2011,37076.0
8,Serbia,Serb,7120666,82.9,2011,5903032.0
9,Serbia,Montenegrin,7120666,0.9,2011,64086.0

In [94]:
ethnic_dist.sort_values('ethnic population', ascending = False).head(10)

,Country,Ethnic Group,Total Population,Percentage,Date of Population,ethnic population
176,China,Han Chinese,1360720000,91.50,2013,1.245059e+09
221,India,Indo-Aryan,1210854977,72.00,2011,8.718156e+08
220,India,Dravidian,1210854977,25.00,2011,3.027137e+08
345,United States,European,318857056,79.96,2014,2.549581e+08
520,Nigeria,African,164294516,99.00,2011,1.626516e+08
212,Bangladesh,Bengali,149772364,98.00,2011,1.467769e+08
299,Japan,Japanese,127298000,99.40,2013,1.265342e+08
93,Russia,Russian,143666931,79.80,2014,1.146462e+08
278,Indonesia,Javanese,252124458,45.00,2014,1.134560e+08
461,Brazil,European,202768562,53.70,2014,1.088867e+08

# Question 4 : Name Country of a.) Longest River b.) largest lake and  c.) airport at highest elevation